*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(171, 171, 21);
}

section{
    width: 400px;
    height: 530px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 5px 5px 3px black;
    margin: 50px 0 100px 450px;
}

.image{
    padding-left: 20px;
    width: 378px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}

button{
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    background-color: rgb(171, 163, 13);
    border-radius: 5px;
    margin-left: 20px;
    border: none;
}

h3{
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
}

h1{
    padding-left: 20px;
    margin-bottom: 10px;
}
p{
    padding-left: 20px;
    font-size: 17px;
    margin-bottom: 15px;

}

.flex{
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 20px;
    padding-top: 20px;
}

.flex img{
    width: 45px;
}

.flex p{
    padding-top: 15px;
    font-size: 15px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    body{
        width: 100%;
    }

    .contain{
        width: 330px;
    }
    section{
        width: 310px;
        margin: 90px 10px 100px 30px;
        height: 510px;
    }

    .image{
        padding-left: 10px;
        width: 300px;
    }

    button{
        width: 80px;
        font-size: 12px;
    }

    h3{
        font-size: 13px;
    }
    h1{
        font-size: 19px;
    }
    p{
        font-size: 15px;
    }
}